.container {
	padding: 2rem;
	padding-top: 0;
}

.add-button {
	transition: var(--transition);
	width: 100%;
	text-align: left;
	padding: .5rem .8rem;
	text-decoration-color: var(--color-accent-1);


	&:hover {
		text-decoration: underline;
		text-decoration-color: var(--color-accent-1);
	}
}