.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin: 2rem;
  border: var(--border-primary-4);
  border-radius: 0.2rem;
  width: 100%;
  background-color: var(--color-primary-5);
  button + button {
    margin-inline-start: 3rem;
  }
}
