.container {
  -webkit-user-select: none;
  user-select: none;
  display: flex;
  appearance: none;
  outline: none;
  background-color: var(--color-info-1);
  border: 0.1rem solid var(--color-info-1);
  padding: 0.5rem 1.2rem;
  border-radius: 0.1rem;
  color: var(--color-white);
  box-shadow: var(--shadow-primary-4);
  cursor: pointer;
  font-size: 1.6rem;

  &:hover:not(:disabled) {
    border: var(--border-accent-2);
    color: var(--color-accent-1);
    background-color: var(--color-white);
    box-shadow: var(--shadow-accent-2);
  }

  &:active:not(:disabled) {
    transform: scale(0.97);
  }

  &:disabled {
    border-color: var(--color-primary-3);
    color: var(--color-primary-2);
    background-color: var(--color-primary-4);
    cursor: not-allowed;
  }
}

.open {
  background-color: var(--color-primary-1);
  color: var(--color-white);
  border-color: var(--color-primary-1);

  &:hover {
    color: var(--color-text);
  }
}
