.container {
  position: fixed;
  top: 2rem;
  display: flex;
  padding: 0.8rem 2rem;
  box-shadow: var(--shadow-1);
  background-color: var(--color-info-1);
  color: var(--color-white);
  align-items: center;
  border-radius: 0.2rem;
}

.icon {
  margin-inline-end: 1rem;
  svg {
    height: 2rem;
    width: 2rem;
  }
}

.error {
  background-color: var(--color-error-1);
}
