.container {
  position: fixed;
  top: 2rem;
  display: flex;
  border: var(--border-primary-4);
  padding: 1rem 2rem;
  box-shadow: var(--shadow-1);
  background-color: var(--color-info-1);
  color: var(--color-white);
}

.icon {
  margin-inline-end: 1rem;
  svg {
    height: 2rem;
    width: 2rem;
  }
}
