.container {
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;

	h5 {
		font-weight: 600;
	}
}

.close-button {
	padding: 0.5rem 1rem;

	svg {
		fill: var(--color-primary-3);
		height: 2rem;
		width: 2rem;
	}

	&:hover {
		svg {
			fill: var(--color-primary-1);
		}
	}
}