.container {
  transition: var(--transition);
  display: flex;
  margin-block-end: 1rem;
  padding: 1rem;
  border-radius: 0.1rem;
  border: var(--border-primary-4);
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  box-shadow: var(--shadow-primary-4);

  &:hover {
    border-color: var(--color-accent-1);
    box-shadow: var(--shadow-accent-2);
    color: var(--color-accent-1);
    svg {
      stroke: var(--color-accent-1);
    }
  }
}

.icon {
  margin-inline-end: 0.8rem;

  svg {
    transition: var(--transition);
    stroke-width: 0.1rem;
    height: 2rem;
    width: 2rem;
  }
}

